/* --------------------------
   BANNER
--------------------------- */
.contact-banner {
  background: linear-gradient(90deg, #0b0b0d, rgb(245 197 24 / 15%));
  padding: 5rem 0;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: var(--white);
    font-weight: 900;
  }

  p {
    color: var(--muted);
    font-size: 1.1rem;
  }
}


/* --------------------------
   FORM SECTION
--------------------------- */
.contact-section {
  padding: 4rem 0;
}


/* FORM CARD */
.contact-card {
  background: var(--glass);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  backdrop-filter: blur(10px);

  h3 {
    margin-bottom: 1.5rem;
    font-weight: 900;
  }
}


.send-btn {
  border: 2px solid var(--accent);
  color: var(--accent);
  background: transparent;
  padding: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.25s;

  &:hover {
    background: var(--accent);
    color: black;
  }
}


/* --------------------------
   CONTACT INFO CARD
--------------------------- */
.info-card {
  padding: 2rem;
  background: #0a0a0c;
  border-radius: 12px;
  box-shadow: var(--card-shadow);

  h3 {
    font-weight: 900;
    margin-bottom: 1rem;
  }

  p {
    color: var(--muted);
    font-size: 1rem;
  }

  .socials a {
    font-size: 1.8rem;
    color: var(--muted);
    margin-right: 1rem;
    transition: 0.2s;

    &:hover {
      color: var(--accent);
    }
  }
}


/* --------------------------
   MAPA
--------------------------- */
.map-container iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}
