<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin/home">Mambo Admin</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/admin/home">Dashboard</a>
      <a class="nav-link" routerLink="/admin/clientes">Clientes</a>
      <a class="nav-link" routerLink="/admin/boleta">Boleta</a>
      <a class="nav-link" routerLink="/admin/list-usuarios">Vendedores</a>
      <a class="nav-link" routerLink="/admin/productos">Productos</a>
      <a class="nav-link" routerLink="/admin/reporte">Reportes</a>
      <a class="nav-link" routerLink="/admin/factura">Factura</a>
      <a class="nav-link" routerLink="/admin/list-usuarios">Lista de Usuarios</a>
    </div>
  </div>
</nav>
